[Unit]
Description=Control LMS server based on connected blue audio source
After=logitechmediaserver.service
[Service]
ExecStart=/usr/bin/python3 /home/pi/lms-bluetooth-control/lms-bluetooth-control/lms-bluetooth-control.py
Restart=always
WorkingDirectory=/home/pi/lms-bluetooth-control/lms-bluetooth-control
User=pi
[Install]
WantedBy=multi-user.target